<p-toolbar>
  <div class="container-fluid">

    <ul style="list-style-type: none;
    display: flex;">
      <li style=""><img src="assets/logo.png" alt="Bootstrap" width="130"></li>
      <li style="margin-left: 20px;">
        <ul style="display: inline;
        list-style-type: none;">
          <li><a class="navbar-brand fs-1" href="#">MediScan</a></li>
          <li><a class="navbar-brand fs-5" href="https://www.huaweicloud.com/">Powered By Huawei Cloud</a></li>
        </ul>
      </li>
    </ul>


  </div>
</p-toolbar>