<div class="container">
  <section>
    <h1 class="navbar bg-body-tertiary">Prediction</h1>
    <app-upload-file></app-upload-file>
  </section>
  <p-divider></p-divider>

  <section>
    <h1 class="navbar bg-body-tertiary">Overview</h1>
    <div class="row">
      <div class="col-sm-6 col-md-8">
        The accurate classification of Bone X-ray Images is crucial for the diagnosis and treatment of bone diseases. In
        this project, we present a Convolutional Neural Network (CNN) approach for Bone X-ray Image classification using
        TensorFlow. Our goal is to develop a model that can accurately classify bone images into their respective
        categories using deep learning techniques. We use image augmentation techniques to increase the variability of
        the input data and improve the model's performance.
      </div>
      <div class="col-6 col-md-4">
        <img src="assets/trainingFractured10.jpg" width="250" alt="image">
      </div>
    </div>
  </section>
  <p-divider></p-divider>

  <section>
    <h1 class="navbar bg-body-tertiary">Model Architecture</h1>
    <div class="row">
      <div class="col-sm-6 col-md-8">
        Our CNN model has three convolutional layers with max pooling, one dense layer, and a softmax output layer. We
        used ReLU activation function in the convolutional layers and the dense layer. We compiled the model with the
        categorical cross-entropy loss function and optimized with the Adam optimizer. To prevent overfitting, we added
        a dropout layer with a rate of 0.5 after the last convolutional layer.
      </div>
      <div class="col-6 col-md-4">
        <img src="assets/model_arch.jpg" width="250" alt="image">
      </div>
    </div>
  </section>
  <p-divider></p-divider>

  <section>
    <h1 class="navbar bg-body-tertiary">Results</h1>
    <p>The model achieved an accuracy of 0.6763 and a loss of 0.5840 on the training dataset, while achieving an
      accuracy of 0.8050 and a loss of 0.4805 on the validation dataset. These results suggest that the model has
      better performance on the validation dataset and is not overfitting to the training dataset. We presented the
      results using confusion matrices to visualize the model's performance on each category.</p>
  </section>
  <br><br>
</div>